/* Header.module.css */

/* Base Header Styles */
.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  color: #333;
  transform: translateY(0);
  transition: transform 0.6s ease;
  z-index: 300;
}

.header2 {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(25px);
  color: #ffffff !important;
  transform: translateY(10);
  transition: transform 0.6s ease;
  animation: myanimation 0.6s;
  z-index: 2;
}

/* Telephone Styles */

.telephone {
  background: #19c0f0;
  width: 204.98px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 7px;
}

.telephoneText {
  font-size: 16px;
  margin-left: 5px;
}

.Innertelephone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* Animation */

@keyframes myanimation {
  0% {
    background-color: transparent;
    color: #fff !important;
  }
  35% {
    background-color: gray;
    color: #fff !important;
  }
  100% {
    background-color: transparent;
    color: #fff !important;
  }
}

/* Shadow on Scroll */

.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.header.hidden {
  transform: translateY(-110%);
}

/* Logo */

.logo {
  font-size: 28px;
  color: #f59596;
}

/* Menu Links */

.links {
  padding: 0;
  margin: 0 24px;
}

.link-item {
  display: inline-block;
  margin: 0 12px;
  cursor: pointer;
}

.Tabli {
  color: #000; /* Default color when static */
  transition: color 0.3s ease;
}

.Tabli.c,
.Tabli.scroll-down {
  color: #fff; /* Color when scrolling up or down */
}
/* Media Queries */

.MenuTabResposive .Tabli {
  @media screen and (min-device-width: 768px) and (max-device-width: 1300px) {
    padding: 10px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1300px) {
  .telephone {
    background: #19c0f0;
    width: 165px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 7px;
  }

  .telephoneText {
    font-size: 16px;
    margin-left: 5px;
  }

  .Innertelephone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}


.ActiveTab {
clip-path: polygon(0 0, 100% 0, 71% 100%, 25% 100%);

  background: linear-gradient(180deg, rgba(17, 182, 227, 0) 11.88%, #95e4fa 200.63%);
}


/* Media Queries for Responsiveness */

/* @media (max-width: 1024px) {
  .header {
    height: 60px;
  }

  .logo {
    font-size: 24px;
  }
}

@media (max-width: 760px) {
  .header {
    padding: 0 20px;
  }

  .telephone {
    width: 160.98px;
    height: 40px;
  }

  .telephoneText {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 20px;
  }

  .telephone {
    width: 120.98px;
    height: 30px;
  }

  .telephoneText {
    font-size: 12px;
  }
} */
