.Image {
  position: relative;
  background-image: url('../../public/images/slider/1.png');
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.Image::before {
  content: ''; /* Required for pseudo-elements */
  position: absolute; /* Position the pseudo-element */
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire element */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
}
