/* this is input bar css and implemented */
.inputContainer {
  position: relative;
  width: 100%;
  max-width: 256px;
}
.customDateInput::-webkit-datetime-edit {
  color: #a5a5a5;
}

.dateInput::-webkit-datetime-edit {
  background-color: #eeeeee;
  min-width: 60px;
  font-weight: bold;
  font-size: 14px;
  color: #000 !important;
}
.customDateInput:focus {
  border: none;
  outline: none;
}

/* styles.module.css */
.input {
  border: none;
  outline: none;
  background-color: #eeeeee;
  min-width: 60px;
  font-weight: bold;
  font-size: 14px;
}

.input::placeholder {
  color: #a5a5a5;
  min-width: 60px;
  font-weight: bold;
  font-size: 14px;
}
/* .customDateInput::placeholder {
  color: #a5a5a5;
  min-width: 60px;
  font-weight: bold;
  font-size: 14px;
} */

/*input bar css*/
.inputField {
  border: none;
  outline: none;
  background-color: #eeeeee;
  min-width: 60px;
  font-weight: bold;
  font-size: 14px;
}
.inputField::placeholder {
  color: #a5a5a5;
  min-width: 60px;
  font-weight: bold;
  font-size: 14px;
}
.inputField:focus {
  border: none;
  outline: none;
}

.inputIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}
/*container css*/
.Container {
  background-color: #eeeeee;
  height: 100%;
  width: 100%;
  max-width: 256px;
  max-height: 60px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* left image or left icon */
.LeftImage {
  height: 100px;
  width: 100px;
}
/* right image or Right icon */
.RightImage {
  height: 100px;
  width: 100px;
}
