@font-face {
  font-family: "PoppinsRegular";
  src: url("./poppins/Poppins-Regular.ttf") format("tff");
  /* Add additional font formats as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("./poppins/Poppins-Bold.ttf") format("tff");
  /* Add additional font formats as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("./poppins/Poppins-SemiBold.ttf") format("tff");
  /* Add additional font formats as needed */
  font-weight: 550;
  font-style: normal;
}
@font-face {
  font-family: "LatoRegular";
  src: url("./lato/Lato-Regular.ttf") format("tff");
  /* Add additional font formats as needed */
  font-weight: normal;
  font-style: normal;
}
