.container {
  background-color: #3a3a3a;
}
.headline {
  font-family: MadaRegular;
  color: #ffffff;
  font-size: 40px;
}
.TextHead {
  font-family: MadaRegular;
  color: #ffffff;
  font-size: 16px;
}
