.backgroundContainer {
  background: linear-gradient(
    90deg,
    rgba(63, 249, 126, 1) 0%,
    rgba(10, 123, 35, 1) 100%
  );
}
.styledRadio {
  width: 20px; /* Adjust the value as needed */
  height: 20px; /* Adjust the value as needed */
}
