@tailwind base;
@tailwind components;
@tailwind utilities;

@screen sm {
  .responsiveBoxSizing {
    box-sizing: border-box;
  }
}

@screen md {
  .responsiveBoxSizing {
    box-sizing: border-box;
  }
}

@screen lg {
  .responsiveBoxSizing {
    box-sizing: border-box;
  }
}

@screen xl {
  .responsiveBoxSizing {
    box-sizing:border-box;
  }
}


@keyframes myanimation {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}

.animated-slide-down {
  animation: myanimation 0.6s ease;
}

